@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Permanent+Marker&family=Shadows+Into+Light&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
}

body {
    background-color: black;
}

header {
    width: 100%;
    background-color: rgb(26, 50, 50);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    width: 100%;
}


.menu li {
    width: 80%;
    display: inline-flex;
    margin: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    flex-direction: row;
    justify-content: space-between;
}

.menu li a {
    width: 80%;
    font-size: 1em;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background-color: rgb(26, 50, 50);
    flex-direction: row;
}

.text {
    margin-left: 3%;
    margin-top: 1%;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    font-style: italic;
    font-size: 1.3em;
}

.image-1 {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 1%;
    max-width: 30%;
    margin-left: 5%;

}

.image-2 {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin: 3%;
    width: 100%;
}

.title {
    font-family: 'Shadows Into Light', cursive;
    display: flex;
    justify-content: center;
    margin-top: 2%;
    font-size: 1.6em;
}

.second-title {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 3%;
    font-size: 1.6em;
    width: 100%;
    height: 90%;
    flex-wrap: wrap;

}

.midle-text {
    display: flex;
    justify-content: center;
}



.h3-text {
    display: flex;
    font-size: 1em;
    font-family: 'Shadows Into Light', cursive;
    width: 15%;
    height: 20%;
    justify-content: center;
}



.right-side {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 5%;

}

.text-photo-1 {
    padding: 1em;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 0.6em;

}

p {
    display: flex;
    width: 100%;
}

.ato {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5%;
    margin-top: 10vh;
}

.ato-1 {
    width: 45%;

}

.title-ato {}

.image-3 {
    display: flex;
    justify-content: center;
    margin: 2%;
    margin-left: 10%;
    height: 58%;
    width: 100%;
}

.text-2 {
    width: 70%;
    font-size: 1.2em;
    text-align: justify;
}

.div-2-ato {
    width: 50%;
    margin: 2%;
}

.image-4 {
    display: flex;
    justify-content: center;
    height: 40%;
    width: 100%;
}

.image-5,
.image-6,
.image-7 {
    width: 30%;
    height: 100%;
}

.images-grid {
    display: flex;
    justify-content: space-around;
    margin: 2%;
    margin-top: 5vh;
    height: 50%;

}

.ato-2 {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5%;
    margin-top: 10vh;
}

.ato-II {
    width: 35%;
}

.title-ato-II {
    margin: 2%;
}

.image-8 {
    display: flex;
    justify-content: center;
    height: 90%;
    width: 100%;
    margin-left: 5%;
}

.text-3 {
    width: 30%;
    margin: 1em;
    justify-content: center;
    display: flex;
    align-items: normal;
    margin-top: 20vh;
    text-align: justify;
    margin-left: 8%;

}

.images-ato-II {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.image-9,
.image-10 {
    height: 45%;
    width: 100%;
    margin: 2%;
}

.ato-3 {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
    padding: 5%;
}

.ato-III {
    width: 35%;
    height: 50%;
}

.title-ato-III {
    height: 50%;
    width: 100%;
    margin-top: 5vh;
}

.images-ato3 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.image-12 {
    margin: 1em;
    margin-top: 25vh;
    width: 100%;
    margin-left: 3em;
}

.div-ato-III {
    display: flex;
    justify-content: space-between;
    margin: 1em;


}

.images-grid-2 {
    display: flex;
    justify-content: space-around;
    margin: 1em;
    width: 50%;
    height: 60%;
    margin-left: 5%;
}

.text-4 {
    width: 30%;
    text-align: justify;
    font-size: 1.2em;
    letter-spacing: 1px;
    margin-right: 3%;
}

.ato-4 {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 5%;
    margin-top: 12vh;
}

.ato-IV {
    width: 80%;
}

.title-ato-IV {
    width: 20%;
}

.text-5 {
    margin: 1em;
    width: 60%;
    margin-left: 15%;
    margin-top: 6vh;
    letter-spacing: 2px;
    text-align: justify;

}

.images-grid-3 {
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin-left: 4%;
}

.images-13 {
    width: 100%;
    margin: 1em;
    display: flex;
    justify-content: space-between;
}

.image-14 {
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
}

.div-image-14 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.ato-5 {
    background-color: black;
    height: 100%;
    display: flex;
    padding: 5%;
    margin-top: 12vh;
    margin: 3%;
}

.title-ato-V {
    width: 100%;
}

.image-15 {
    width: 50%;
    justify-content: center;
    margin-top: 3vh;
    margin: 1em;
}

.image-16 {
    width: 100%;
    justify-content: space-between;
    margin-top: 7vh;
    margin: 1em;
    flex-direction: row;
    display: flex;
}

.image-17 {
    width: 100%;
    height: 40%;
    justify-content: space-between;
    margin-top: 3vh;
    margin: 1em;
    flex-direction: row;
}

.text-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 20%;
}

.title-atos {
    width: 40%;
    display: flex;
    margin: 0 3%;
}

.text-7 {
    width: 20%;
    display: flex;
    margin: 0 3%;
    margin-top: 1%;
    text-align: right;
    margin-left: 6%;
}

.text-8 {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 20%;
}

.text-9 {
    font-size: 5em;
    margin-top: 0.5em;
    justify-content: center;
    display: flex;
    width: 100%;
    margin-left: 2em;
}

.menu-eventos li {
    display: inline-flex;
    margin: 0 3%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.menu-eventos li a {
    font-size: 1em;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background-color: rgb(26, 50, 50);
    padding: 1em 2em;
}

.container-evento {
    width: 100%;
    height: 100%;
    margin-top: 2%;
    justify-content: space-around;
    display: flex;
}

.image-18 {
    width: 18%;
    align-items: center;
}

.image-19 {
    margin-left: 1.8em;
    margin-top: 1%;
}

.image-21 {
    width: 18%;
    align-items: center;
}

.image-22 {
    margin-left: 1.8em;
    margin-top: 1%;
}

.image-23 {}

.image-24 {
    margin-left: 1.8em;
    margin-top: 1%;
}

.images-gridd {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}

.container-contato {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 16vh;

    h1 {
        font-size: 3em;
    }
}

.container-contato2 {
    display: inline;
    text-align: justify;
    justify-content: center;

    h2 {
        text-align: center;
    }

    .container-h2 {
        margin-top: 8%;
    }
}

.email {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
    margin-top: 0.5%;

    img {
        margin: 0 1%;
    }
}

.insta {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
    margin-top: 0.5%;

    img {
        margin: 0 1%;
    }
}

.tel {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20%;
    margin-top: 0.8%;

    img {
        margin: 0 1%;
    }
}

@media screen and (max-width: 1020px) {

    /* HEADER */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: rgb(255, 255, 255);
    }

    body {
        background-color: black;
    }

    header {
        width: 100%;
        background-color: rgb(26, 50, 50);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* GERAIS */

    .title {
        font-size: medium;
    }

    .image-1 {
        width: 30%;
    }

    .h3-text {
        width: 10%;
    }
}